<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ConfigFileThirdKindMapper">
	  <insert  id="saveConfigFileThirdKind" parameterType="com.hr.pojo.ConfigFileThirdKind">
		insert into config_file_third_kind 
			values(#{first_kind_id},#{first_kind_name},#{second_kind_id},#{second_kind_name},#{third_kind_id},#{third_kind_name},#{third_kind_salary_id},#{third_kind_sale_id})
	</insert>
	<delete id="removeConfigFileThirdKind" parameterType="_int">
		delete from config_file_third_kind where ftk_id=#{id}
	</delete>
	
	
	<update  id="updateConfigFileThirdKind" parameterType="com.hr.pojo.ConfigFileThirdKind">
		update config_file_third_kind set first_kind_id=#{first_kind_id},first_kind_name=#{first_kind_name},second_kind_id=#{second_kind_id},
			second_kind_name=#{second_kind_name},third_kind_id=#{third_kind_id},third_kind_name=#{third_kind_name},third_kind_salary_id=#{third_kind_salary_id},third_kind_sale_id=#{third_kind_sale_id}
			where ftk_id=#{ftk_id}
	</update>
	
	
	<select id="queryConfigFileThirdKindByCid" parameterType="_int" resultType="com.hr.pojo.ConfigFileThirdKind">
		select * from config_file_third_kind where ftk_id=#{id}
	</select>
	
	<select id="queryAllConfigFileThirdKind" resultType="com.hr.pojo.ConfigFileThirdKind">
		select * from config_file_third_kind
	</select>
	
	<select id="queryIdByName" parameterType="String" resultType="String">
		select third_kind_id from config_file_third_kind where third_kind_name=#{third_kind_name};
	</select>
	
	<select id="queryKindIdAndName" resultType="com.hr.web.controller.requestparamtype.TwoStringValue">
		select third_kind_id as first, third_kind_name as second from config_file_third_kind
		where first_kind_name=#{first_kind_name} and second_kind_name=#{second_kind_name}
	</select>
</mapper>
