<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ConfigFileFirstKindMapper">
	  <sql id="FirstColumn">
	    first_kind_id,
	    first_kind_name,
		first_kind_salary_id,
		first_kind_sale_id
	  </sql>
	  
	  <insert  id="addConfigFileFirstKind" parameterType="com.hr.pojo.ConfigFileFirstKind">
		insert into config_file_first_kind 
			values(#{ffk_id},#{first_kind_id},#{first_kind_name},
			#{first_kind_salary_id},#{first_kind_sale_id})
	</insert>
	<delete id="removeConfigFileFirstKind" parameterType="String">
		delete from config_file_first_kind where first_kind_id=#{first_kind_id}
	</delete>
	
	<update  id="updateConfigFileFirstKind" parameterType="com.hr.pojo.ConfigFileFirstKind">
		update config_file_first_kind set first_kind_id=#{first_kind_id},
			first_kind_name=#{first_kind_name},first_kind_salary_id=#{first_kind_salary_id},first_kind_sale_id=#{first_kind_sale_id}
			where ffk_id=#{ffk_id}
	</update>
	
	<select id="queryConfigFileFirstKindById" parameterType="String" resultType="com.hr.pojo.ConfigFileFirstKind">
		select * from config_file_first_kind where first_kind_id=#{first_kind_id}
	</select>
	
	<select id="queryAllConfigFileFirstKind" resultType="com.hr.pojo.ConfigFileFirstKind">
		select * from config_file_first_kind
	</select>
	
	<select id="queryConfigFileFirstKindIdAndName" resultType="com.hr.web.controller.requestparamtype.TwoStringValue">
		select first_kind_id as first,first_kind_name as second from config_file_first_kind
	</select>
	
	<select id="queryIdByName" parameterType="String" resultType="String">
		select first_kind_id from config_file_first_kind where first_kind_name=#{first_kind_name};
	</select>
	
	<select id="getAllFirstByPage" resultType="com.hr.pojo.ConfigFileFirstKind" >
    select
    <include refid="FirstColumn" />
    from config_file_first_kind as acc
  </select>
</mapper>