<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ConfigMajorKindMapper">
	<select id="selectAllConfigMajorKind" resultType="com.hr.pojo.ConfigMajorKind">
		select * from config_major_kind
	</select>
	
	<select id="selectAllConfigMajorKindIdAndName" resultType="com.hr.web.controller.requestparamtype.TwoStringValue">
		select major_kind_id as first, major_kind_name as second from config_major_kind
	</select>
	
	<select id="selectConfigMajorKindIdByName" resultType="string" parameterType="string">
		select major_kind_id from config_major_kind where major_kind_name=#{major_kind_name}
	</select>
	
	<delete id="deleteConfigMajorKind" parameterType="string">
		delete from config_major_kind where major_kind_name=#{major_kind_name}
	</delete>
	
	<insert  id="addConfigMajorKind" parameterType="com.hr.pojo.ConfigMajorKind">
		insert into config_major_kind(major_kind_id,major_kind_name) 
			values(#{major_kind_id},#{major_kind_name})
	</insert>
</mapper>