<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ConfigMajorMapper">
	<select id="selectAllConfigMajor" resultType="com.hr.pojo.ConfigMajor" parameterType="String">
		select * from config_major
	</select>
	
	<select id="selectAllConfigMajorIdAndName" resultType="com.hr.web.controller.requestparamtype.TwoStringValue">
		select major_id as first,major_name as second from config_major 
		where major_kind_name=#{major_kind_name}
	</select>
	
	<select id="selectConfigMajorIdByName" resultType="string" parameterType="string">
		select major_id from config_major where major_name=#{major_name}
	</select>
	
	<delete id="deleteConfigMajor" parameterType="string">
		delete from config_major where major_name=#{major_name}
	</delete>
	
	<insert  id="addConfigMajor" parameterType="com.hr.pojo.ConfigMajor">
		insert into config_major(major_kind_id,major_kind_name,major_id,major_name,test_amount) 
			values(#{major_kind_id},#{major_kind_name},#{major_id},#{major_name},#{test_amount})
	</insert>
	
	<select id="selectByMajorName" parameterType="String" resultType="com.hr.pojo.ConfigMajor">
		select * from config_major where major_name=#{major_name}
	</select>
</mapper>