<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ConfigPublicCharMapper">
	<select id="selectAllConfigPublicChar" resultType="com.hr.pojo.ConfigPublicChar">
		select * from config_public_char
	</select>
	
	<delete id="deleteConfigPublicChar">
		delete from config_public_char 
		where attribute_kind=#{attribute_kind} and attribute_name=#{attribute_name}
	</delete>
	
	<insert  id="addConfigPublicChar" parameterType="com.hr.pojo.ConfigPublicChar">
		insert into config_public_char(attribute_kind,attribute_name) 
			values(#{attribute_kind},#{attribute_name})
	</insert>
</mapper>