<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.EngageSubjectsMapper">
    <sql id="EngageSubjects">
    	(sub_id,
    	first_kind_id,
    	first_kind_name,
    	second_kind_id,
    	second_kind_name,
    	register,
    	derivation,
    	content,
    	key_a,
    	key_b,
    	key_c,
    	key_d,
    	key_e,
    	correct_key,
    	changer)
    </sql>
	<insert id="insert" parameterType="com.hr.pojo.EngageSubjects">
		insert into engage_subjects <include refid="EngageSubjects"/> values
		(#{sub_id},#{first_kind_id},#{first_kind_name},#{second_kind_id},#{second_kind_name},
		#{register},#{derivation},#{content},#{key_a},#{key_b},#{key_c},#{key_d},#{key_e},#{correct_key},#{changer})
	</insert>
	<update id="update" parameterType="com.hr.pojo.EngageSubjects">
		update engage_subjects set first_kind_id=#{first_kind_id},
		first_kind_name=#{first_kind_name},second_kind_id=#{second_kind_id},
    	second_kind_name=#{second_kind_name},register=#{register},derivation=#{derivation},content=#{content},
    	key_a=#{key_a},key_b=#{key_b},key_c=#{key_c},key_d=#{key_d},key_e=#{key_e},
    	correct_key=#{correct_key},changer=#{changer} where sub_id=#{sub_id}
	</update>
	<select id="select" parameterType="String" resultType="com.hr.pojo.EngageSubjects">
		select * from engage_subjects
		<trim prefix="where" suffixOverrides="and">
			<if test="firstKindName != null">
				second_kind_id=#{firstKindName} and
			</if>
			<if test="keyWord!=null &amp;&amp; keyWord!=''">
				<bind name="keyWordOne" value="'%'+keyWord+'%'"/>
				content like #{keyWordOne} or register like #{keyWordOne} or derivation like #{keyWordOne} and
			</if>
			<if test="start!= null &amp;&amp; end!=null &amp;&amp; start!='' &amp;&amp; end!=''">
        		#{end} &gt; regist_time and #{start} &lt; regist_time and
			</if>
		</trim>
	</select>
</mapper>