<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.SalaryStandardDetailsMapper">
	<sql id="SalaryStandardDetails">
    	(sdt_id,
    	standard_id,
    	standard_name,
    	item_id,
    	item_name,
    	salary)
    </sql>
    <resultMap type="com.hr.pojo.SalaryStandardDetails" id="SalaryStandardDetailsMap">
	    <id column="sdt_id" property="sdtId"/>
	    <result column="standard_id" property="standardId"/>
	    <result column="standard_name" property="standardName"/>
	    <result column="item_id" property="itemId"/>
	    <result column="item_name" property="itemName"/>
	    <result column="salary" property="salary"/>
	    
    </resultMap>
    <insert id="insert" parameterType="com.hr.pojo.SalaryStandardDetails">
		insert into salary_standard_details <include refid="SalaryStandardDetails"/> values
		(#{sdtId},#{standardId},#{standardName},#{itemId},#{itemName},#{salary})
	</insert>

	<!--  -->
	<update id="changeUpdate" parameterType="com.hr.pojo.SalaryStandardDetails">
		update salary_standard_details set 
    	standard_id=#{standardId},standard_name=#{standardName},item_name=#{itemName},salary=#{salary}
    	where sdt_id=#{sdtId}
	</update>
	 <select id="selectByStandardId" parameterType="String" resultType="com.hr.pojo.SalaryStandardDetails" resultMap="SalaryStandardDetailsMap">

    	select *  from salary_standard_details where standard_id=#{standardId}
    </select>
</mapper>
