<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.SalaryStandardDetailsMapper">
	<sql id="SalaryStandardDetails">
    	(sdt_id,
    	standard_id,
    	standard_name,
    	item_id,
    	item_name,
    	salary)
    </sql>
    <insert id="insert" parameterType="com.hr.pojo.SalaryStandardDetails">
		insert into salary_standard_details <include refid="SalaryStandardDetails"/> values
		(#{sdtId},#{standardId},#{standardName},#{itemId},#{itemName},#{salary})
	</insert>
	
	<update id="changeUpdate" parameterType="SalaryStandardDetails">
		update salary_standard_details set 
    	standard_id=#{standardId},standard_name=#{standardName},item_name=#{itemName},salary=#{salary}
    	where sdt_id=#{sdtId}
	</update>
	 <select id="selectBySsdId" parameterType="String" resultType="com.hr.pojo.SalaryStandardDetails">
    	select *  from salary_standard_details where standard_id=#{ssdId}
    </select>
</mapper>