<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.SalaryGrantMapper">
	
	<sql id="SalaryGrant">
    	(sgr_id,
    	salary_grant_id,
    	salary_standard_id,
    	first_kind_id,
    	first_kind_name,
    	second_kind_id,
    	second_kind_name,
    	third_kind_id,
    	third_kind_name,
    	human_amount,
    	salary_standard_sum,
    	salary_paid_sum,
    	register,
    	regist_time,
    	checker,
    	check_time,
    	check_status)
    </sql>
    
    <resultMap type="com.hr.pojo.SalaryGrant" id="SalaryGrant">
	    <id column="sgr_id" property="sgrId"/>
	    <result column="salary_grant_id" property="salaryGrantId"/>
	    <result column="salary_standard_id" property="salaryStandardId"/>
	    <result column="first_kind_id" property="first_kind_id"/>
	    <result column="first_kind_name" property="firstKindName"/>
	    <result column="second_kind_id" property="second_kind_id"/>
	    <result column="second_kind_name" property="secondKindName"/>
	    <result column="third_kind_id" property="third_kind_id"/>
	    <result column="third_kind_name" property="thirdKindName"/>
	    <result column="human_amount" property="humanAmount"/>
	    <result column="salary_standard_sum" property="salaryStandardSum"/>
	    <result column="salary_paid_sum" property="salaryPaidSum"/>
	    <result column="register" property="register"/>
	    <result column="regist_time" property="registTime"/>
	    <result column="checker" property="checker"/>
	    <result column="check_time" property="checkTime"/>
	    <result column="check_status" property="checkStatus"/>
    
    </resultMap>
    <insert id="insert" parameterType="com.hr.pojo.SalaryGrant">
		insert into salary_grant <include refid="SalaryGrant"/> values
		(#{sgrId},#{salaryGrantId},#{salaryStandardId},#{first_kind_id},#{firstKindName},
		#{second_kind_id},#{secondKindName},#{third_kind_id},#{thirdKindName},#{humanAmount},
		#{salaryStandardSum},#{salaryPaidSum},#{register},#{registTime},#{checker},#{checkTime},#{checkStatus})
	</insert>
	
	 <select id="selectCheckAll" resultType="com.hr.pojo.SalaryGrant" resultMap="SalaryGrant">
    	select * from salary_grant where check_status=0
    </select>
    
    
     <select id="selectBySgrId" parameterType="String" resultType="com.hr.pojo.SalaryGrant" resultMap="SalaryGrant">
    	select *  from salary_grant where sgr_id=#{sgrId}
    </select>
    
    <update id="ckeckUpdate" parameterType="String">
		update salary_grant set 
    	checker=#{checker},
    	check_time=#{checkTime},check_status=#{checkStatus},
    	where sgr_id=#{sgrId}
	</update>
</mapper>